* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 14px;
    font-family: sans-serif;
    overflow: hidden;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 87vw;
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}

.principal {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.celular {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60%;
    height: 80%;
    
}

.celular-foto {
    height: 45rem;
    
}

.area-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin-top: 50px;
    min-height: 100%;
    min-width: 40%;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 348px;
    height: 374px;
    padding: 1.3rem 0;
    border: 1px solid rgb(204,204,204);
    overflow: hidden;
    background-color: rgb(180, 180, 180, 0.7);
}

.logo {
    display: flex;
    max-height: 5rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.perfil {
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
.perfil {
    height: 9rem;
    margin-bottom: 15px;
}

.botao {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6%;
    background-color: #0095f6;
    border-color: #0095f6;
    padding: 5px 7px;
    color: #ffffff;
    margin: 7px;

}


.cadastro {
    background-color: rgb(180, 180, 180, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 348px;
    height: 70px;
    padding: 1.3rem 0;
    margin: 10px;
    border: 1px solid rgb(204,204,204);
    overflow: hidden;
}

.grey {
    color: #ffffff;
}

.azul {
    color: #78c3f5;
}

.ou {
    color: #ffffff;
}

.remover {
    color: #78c3f5;
    padding-top: 10px;
}
